<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.2/axios.min.js"
        integrity="sha512-JSCFHhKDilTRRXe9ak/FJ28dcpOJxzQaCd3Xg8MyF6XFjODhy/YMCM8HW0TFDckNHWUewW+kfvhin43hKtJxAw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="./style.css"></script>
    <title>TOdoList</title>

</head>

<body>
    <div id="app">

        <h1>Lista di Cose da Fare</h1>
        <ul>
            <li v-for="item in todolist" :key="item.titolo">
                <strong>{{ item.titolo }}</strong>: {{ item.descrizione }} - <span>{{ item.stato }}</span>
            </li>
        </ul>

        <input placeholder="nuovo Titolo Attivita" v-model="newTaskTitle">
        <input placeholder="nuova descrizione" v-model="newTaskDescription">
        <button @click="addTask">Aggiungi</button>

    </div>
    <script src="./main.js"></script>
</body>

</html>